
CREATE TABLE Tabelas(
	ATB_CdiTabela int NOT NULL PRIMARY KEY,
	ATB_DssTabela varchar(50),
	ATB_D1sLiteral varchar(200),
	ATB_DssLiteralPadrao varchar(50),
	ATB_CosPrefixoCampos varchar(3),
	ATB_OplDesativado int
);


CREATE TABLE CamposMascaras(
	ACM_CdiCampoMascara int NOT NULL PRIMARY KEY,
	ACM_DssCampoMascara varchar(200),
	ACM_DssMascara varchar(200)
);

CREATE TABLE Campos(
	ACP_CdiCampo int NOT NULL PRIMARY KEY,
	ACP_DssCampo varchar(50),
	ACP_CdiTabela int,
	ACP_D1sLiteral varchar(200),
	ACP_DssLiteralPadrao varchar(200),
	ACP_OplDesativado int ,
	ACP_OplInvisivel int ,
	ACP_OplObrigatorio int ,
	ACP_NuiOrdem int ,
	ACP_OplCampoChave int ,
	ACP_CdiCampoMascara int ,
	ACP_OplBloqueado int
);

CREATE TABLE CamposLookUps(
	ACL_CdiCampoLookUp int NOT NULL PRIMARY KEY,
	ACL_CdiCampoChave int NOT NULL,
	ACL_CdiCampoReferencia int NOT NULL,
	ACL_CdiCampoResultado int NOT NULL,
	ACL_DsbComandoSQL BLOB,
	ACL_CdiTabela int NOT NULL,
	ACL_DssDescricao varchar(200)
);    

CREATE TABLE Perfis(
	PER_CdiPerfil int NOT NULL PRIMARY KEY,
	PER_DssPerfil varchar(200)
);

CREATE TABLE PerfisxAcessos(
	PXA_CdiPerfilxAcesso int NOT NULL PRIMARY KEY,
	PXA_CdiPerfil int ,
	PXA_CdiAcesso int ,
	PXA_OplAtivo int
);

CREATE TABLE PerfisxUsuarios(
	PRU_CdiPerfilxUsuario int NOT NULL PRIMARY KEY,
	PRU_CdiPerfil int NOT NULL,
	PRU_CdiUsuario int
);

CREATE TABLE Usuarios(
	USR_CdiUsuario int NOT NULL PRIMARY KEY,
	USR_DssNome varchar(200) NOT NULL,
	USR_CosEmail varchar(200),
	USR_CdsUsuario varchar(100),
	USR_CosSenha varchar(100),
	USR_OplAtivo INT,
	USR_CdiPerfil int NOT NULL,
	USR_CdiPessoa int
);
    
CREATE TABLE UsuariosxAcessos(
	UAC_CdiUsuarioxAcesso int NOT NULL PRIMARY KEY,
	UAC_CdiUsuario int NOT NULL,
	UAC_CdiAcesso int NOT NULL,
	UAC_OplAtivo INT
);

CREATE TABLE Produtos(
	PRD_CdiProduto int not null primary key,
    PRD_DssProduto varchar(500),
    PRD_CosUnidade varchar(20)
);

CREATE TABLE Distribuidores(
	DIS_CdiDistribuidor int not null primary key,
    DIS_DssNomeDistribuidor varchar(500),
    DIS_CosCNPJ varchar(20)
);

CREATE TABLE Produtores(
	PRO_CdiProdutor int not null primary key,
    PRO_DssNomeProdutor varchar(500),
    PRO_CosTipoPessoa varchar(5),
	PRO_CosCPF varchar(15),
	PRO_CosCNPJ varchar(20)
);

ALTER TABLE Campos ADD FOREIGN KEY (ACP_CdiTabela) REFERENCES Tabelas (ATB_CdiTabela);
ALTER TABLE Campos ADD FOREIGN KEY (ACP_CdiCampoMascara) REFERENCES CamposMascaras (ACM_CdiCampoMascara);

ALTER TABLE CamposLookUps ADD FOREIGN KEY(ACL_CdiTabela) REFERENCES Tabelas (ATB_CdiTabela);
ALTER TABLE CamposLookUps ADD FOREIGN KEY(ACL_CdiCampoChave) REFERENCES Campos (ACP_CdiCampo);
ALTER TABLE CamposLookUps ADD FOREIGN KEY(ACL_CdiCampoReferencia) REFERENCES Campos (ACP_CdiCampo);
ALTER TABLE CamposLookUps ADD FOREIGN KEY(ACL_CdiCampoResultado) REFERENCES Campos (ACP_CdiCampo);

ALTER TABLE PerfisxAcessos ADD FOREIGN KEY(PXA_CdiPerfil) REFERENCES Perfis (PER_CdiPerfil);
ALTER TABLE PerfisxAcessos ADD FOREIGN KEY(PXA_CdiAcesso) REFERENCES Acessos (ACE_CdiAcesso);
ALTER TABLE PerfisxUsuarios ADD FOREIGN KEY(PRU_CdiPerfil) REFERENCES Perfis (PER_CdiPerfil);
ALTER TABLE PerfisxUsuarios ADD FOREIGN KEY(PRU_CdiUsuario) REFERENCES Usuarios (USR_CdiUsuario);

ALTER TABLE Usuarios ADD FOREIGN KEY(USR_CdiPerfil) REFERENCES Perfis (PER_CdiPerfil);
ALTER TABLE Usuarios ADD FOREIGN KEY(USR_CdiPerfil) REFERENCES Perfis (PER_CdiPerfil);

ALTER TABLE UsuariosxAcessos ADD FOREIGN KEY(UAC_CdiAcesso) REFERENCES Acessos (ACE_CdiAcesso);
ALTER TABLE UsuariosxAcessos ADD FOREIGN KEY(UAC_CdiUsuario) REFERENCES Usuarios (USR_CdiUsuario);

INSERT INTO Tabelas (ATB_CdiTabela, ATB_DssTabela, ATB_D1sLiteral, ATB_DssLiteralPadrao, ATB_CosPrefixoCampos, ATB_OplDesativado) VALUES (1, 'Tabelas', 'Tabelas do Sistema', 'Tabelas do Sistema', 'ATB', 0);
INSERT INTO Tabelas (ATB_CdiTabela, ATB_DssTabela, ATB_D1sLiteral, ATB_DssLiteralPadrao, ATB_CosPrefixoCampos, ATB_OplDesativado) VALUES (2, 'Campos', 'Campos das tabelas do sistema', 'Campos das tabelas do sistema', 'ACP', 0);
INSERT INTO Tabelas (ATB_CdiTabela, ATB_DssTabela, ATB_D1sLiteral, ATB_DssLiteralPadrao, ATB_CosPrefixoCampos, ATB_OplDesativado) VALUES (3, 'CamposLookUps', 'Campos de ligação das tabelas do sistema', 'Campos de ligação das tabelas do sistema', 'ACL', 0);

INSERT INTO CamposMascaras (ACM_CdiCampoMascara, ACM_DssCampoMascara, ACM_DssMascara) VALUES (0, 'Nenhum', '');
INSERT INTO CamposMascaras (ACM_CdiCampoMascara, ACM_DssCampoMascara, ACM_DssMascara) VALUES (1, 'CPF', '000.000.000-00;0;_');
INSERT INTO CamposMascaras (ACM_CdiCampoMascara, ACM_DssCampoMascara, ACM_DssMascara) VALUES (2, 'Datas', '!99/99/9999;1;');

INSERT INTO Campos (ACP_CdiCampo, ACP_DssCampo, ACP_CdiTabela, ACP_D1sLiteral, ACP_DssLiteralPadrao, ACP_OplDesativado, ACP_OplInvisivel, ACP_OplObrigatorio, ACP_NuiOrdem, ACP_OplCampoChave, ACP_CdiCampoMascara, ACP_OplBloqueado) VALUES (1, 'ATB_CdiTabela', 1, 'ATB_CdiTabela', 'ATB_CdiTabela', 0, 0, 0, 1, 1, 0, 0);
INSERT INTO Campos (ACP_CdiCampo, ACP_DssCampo, ACP_CdiTabela, ACP_D1sLiteral, ACP_DssLiteralPadrao, ACP_OplDesativado, ACP_OplInvisivel, ACP_OplObrigatorio, ACP_NuiOrdem, ACP_OplCampoChave, ACP_CdiCampoMascara, ACP_OplBloqueado) VALUES (2, 'ATB_DssTabela', 1, 'ATB_DssTabela', 'ATB_DssTabela', 0, 0, 0, 2, 0, 0, 0);
INSERT INTO Campos (ACP_CdiCampo, ACP_DssCampo, ACP_CdiTabela, ACP_D1sLiteral, ACP_DssLiteralPadrao, ACP_OplDesativado, ACP_OplInvisivel, ACP_OplObrigatorio, ACP_NuiOrdem, ACP_OplCampoChave, ACP_CdiCampoMascara, ACP_OplBloqueado) VALUES (3, 'ATB_D1sLiteral', 1, 'ATB_D1sLiteral', 'ATB_D1sLiteral', 0, 0, 0, 3, 0, 0, 0);

INSERT INTO CamposLookUps (ACL_CdiCampoLookUp, ACL_CdiCampoChave, ACL_CdiCampoReferencia, ACL_CdiCampoResultado, ACL_DsbComandoSQL, ACL_CdiTabela, ACL_DssDescricao) VALUES (1, 17, 26, 27, 0x7B5C727466315C616E73695C616E7369637067313235325C64656666305C6465666C616E67313034367B5C666F6E7474626C7B5C66305C666E696C5C666368617273657430205461686F6D613B7D7D0D0A5C766965776B696E64345C7563315C706172645C66305C667331362073656C656374202A2066726F6D2043616D706F734D617363617261735C7061720D0A7D0D0A00, 2, 'Campos x Campos Mascaras');
INSERT INTO CamposLookUps (ACL_CdiCampoLookUp, ACL_CdiCampoChave, ACL_CdiCampoReferencia, ACL_CdiCampoResultado, ACL_DsbComandoSQL, ACL_CdiTabela, ACL_DssDescricao) VALUES (2, 9, 1, 2, 0x7B5C727466315C616E73695C616E7369637067313235325C64656666305C6465666C616E67313034367B5C666F6E7474626C7B5C66305C666E696C5C666368617273657430205461686F6D613B7D7D0D0A5C766965776B696E64345C7563315C706172645C66305C667331362073656C656374202A2066726F6D20546162656C61735C7061720D0A7D0D0A00, 2, 'Campos x Tabelas');
INSERT INTO CamposLookUps (ACL_CdiCampoLookUp, ACL_CdiCampoChave, ACL_CdiCampoReferencia, ACL_CdiCampoResultado, ACL_DsbComandoSQL, ACL_CdiTabela, ACL_DssDescricao) VALUES (3, 20, 7, 8, 0x7B5C727466315C616E73695C616E7369637067313235325C64656666305C6465666C616E67313034367B5C666F6E7474626C7B5C66305C666E696C5C666368617273657430205461686F6D613B7D7D0D0A5C766965776B696E64345C7563315C706172645C66305C667331362073656C656374202A2066726F6D2043616D706F735C7061720D0A7D0D0A00, 3, 'Campo chave x Campos');

INSERT INTO Perfis (PER_CdiPerfil, PER_DssPerfil) VALUES (1, 'Administrador');

INSERT INTO Usuarios (USR_CdiUsuario, USR_DssNome, USR_CosEmail, USR_CdsUsuario, USR_CosSenha, USR_OplAtivo, USR_CdiPerfil, USR_CdiPessoa) VALUES (1, 'Administrador', 'admin@admin.com', 'admin', '102030', 1, 1, null);